
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/216680500.index

.metadata/.lock

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/3d/c0b0c206454500141f9af05abfccc5a3

.metadata/.mylyn/repositories.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.history/a7/705969fd444500141f9af05abfccc5a3

*.snap

*.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/GIFgallery/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/GIFgallery/.markers.snap

*.snap
